body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:700px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1px;
  width:1171px;
  height:699px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:73px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:25px;
  width:249px;
  height:63px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:108px;
  width:235px;
  height:59px;
  font-size:20px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:231px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:51px;
  width:300px;
  height:137px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:22px;
  width:176px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:198px;
  width:300px;
  height:304px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:167px;
  width:205px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:-349px;
  top:231px;
  width:50px;
  height:40px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:17px;
  width:50px;
  height:40px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u64.a {
}
#u64_img.a {
}
#u64.a {
}
#u65.a {
}
#u65_img.a {
}
#u65.a {
}
#u66.a {
}
#u66_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u66.a {
}
#u66_text.a {
}
#u67.a {
}
#u67_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67.a {
}
#u67_text.a {
}
#u68.a {
}
#u68_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68.a {
}
#u68_text.a {
}
#u69.a {
}
#u69_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69.a {
}
#u69_text.a {
}
#u70.a {
}
#u70_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70.a {
}
#u70_text.a {
}
#u71.a {
}
#u71_img.a {
}
#u71.a {
}
#u72.a {
  left:700px;
  top:15px;
}
#u72_img.a {
}
#u72.a {
  left:700px;
  top:15px;
}
body.b {  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u64.b {
}
#u64_img.b {
}
#u64.b {
}
#u65.b {
  left:21px;
}
#u65_img.b {
}
#u65.b {
  left:21px;
}
#u66.b {
  left:28px;
  top:98px;
}
#u66_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u66.b {
  left:28px;
  top:98px;
}
#u66_text.b {
}
#u67.b {
  left:21px;
  top:209px;
}
#u67_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67.b {
  left:21px;
  top:209px;
}
#u67_text.b {
}
#u68.b {
  left:21px;
  top:180px;
}
#u68_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68.b {
  left:21px;
  top:180px;
}
#u68_text.b {
}
#u69.b {
  left:21px;
  top:366px;
}
#u69_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69.b {
  left:21px;
  top:366px;
}
#u69_text.b {
}
#u70.b {
  left:21px;
  top:335px;
}
#u70_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70.b {
  left:21px;
  top:335px;
}
#u70_text.b {
}
#u71.b {
}
#u71_img.b {
}
#u71.b {
}
#u72.b {
  left:283px;
  top:7px;
  width:27px;
  height:24px;
}
#u72_img.b {
  width:27px;
  height:24px;
}
#u72.b {
  left:283px;
  top:7px;
  width:27px;
  height:24px;
}
